body {
    font-family: Arial,  sans-serif;
    margin: 0;
    background-image: linear-gradient(to bottom, #6d6d6d, #414141);
    color: #333;
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header {
    text-align: center;
    background-color: #2c2c2c;
    color: white;
    padding: 10px 0;
} */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

aside {
    padding: 40px;
    width: 250px;
}

aside img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

article {
    
    justify-content: center;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color:#2c2c2c;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(92, 91, 91);
}

tbody tr:nth-child(odd) {
    background-color: rgb(109, 109, 109); */
}

td, th {
    text-align: left;
    padding: 10px;
}

td:first-child {
    font-weight: bold;
    color: #333;
}
.btn {
    display: inline-block;
    background-color:  #2c2c2c2;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(68, 68, 68);
}


footer {
    background-color: #2c2c2c;
    color: white;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
}
hobby{
    
    justify-content:center;
    display: flex;
}
table img{
    border-radius: 15px;
}
.shadows-into-light-regular,h2 {
    font-family: "Shadows Into Light", cursive;
    font-weight: 500;
    font-style: normal;
  }
  p{

  }
th {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  h2{
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 30px;
  }
  tr:hover td {
  background-color: #666;
  transition: background-color 0.3s ease;
}

  @keyframes slowFade {
    0% { background-color: black; }
    50% { background-color: #555555; } /* középszürke */
    100% { background-color: black; }
  }
  
  header {
    animation: slowFade 5s infinite; /* 10 másodperc alatt megy végig */
    color: white;
    padding: 20px;
    text-align: center;
    transition: color 10s ease;
    border-radius: 15px;
  }